body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.red-button{
    background-color: #ff2800;
    color: white;
    border-radius: 40px;
    width: 130px;
    height: 50px;
    border: none;
    font-size: 20px;
    margin-top: 27px;
    cursor: pointer;
}

.line-button{
    width: 60px;
    height: 60px;
    background-color: black;
    color: red;
    border: none;
    word-wrap: break-word;
    padding-bottom: 20px;
    font-size: 40px;
    border-radius: 5px;
    margin-top: 23px;
    cursor: pointer;
}

.line-button:hover{
    background-color: rgb(56, 56, 56);
}

.red-button:hover{
    background-color: darkred;
}

.logo{
    padding-top: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 25%;
    padding-right: 30%;
    height: 100px; 
}

.tele{
    color: white;
    font-size: 20px;
    margin-top: 38px;
    padding-left: 2%;
}

.header{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

hr{
    background-color: red;
    border-color: red;
    width: 90%;
}

.food-section hr{
    width: 300px;
    margin-left: 0;
    height: 2px;
}

.food-section{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

h1{
    color: white;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.banner{
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-top: 30px;
}

.navbar{
    text-align: center;
    background-color: #ff2800;
    color: black;
    width: 700px;
    margin: auto;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar a{
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: white;
}

.navbar a:visited{
    color: rgb(255, 255, 255);
}
.navbar a:hover{
    background-color: rgb(201, 0, 0);
}

.flex-item{
    flex: initial;
    font-size: 16px;
    border: red solid 1px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
}

.flex-container{
    align-items: flex-end;
    gap: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
.flex-item img{
    width: 250px;
    height: 250px;
}

footer{
    background-color: #1C1816;
    height: 500px;
    display: flex;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    justify-content: space-between;
    margin-top: 100px;
}

#cart{
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    background-color: #1C1816;
    transition: 0.5s;
    border-radius: 30px;
    z-index: 1000;
}

#sidebar{
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    background-color: #1C1816;
    transition: 0.5s;
    border-radius: 30px;
    z-index: 1000;
}

#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: 500;
}

